/// PROFILE USER DATA
//////////////////////////
.profile-ud {
  &-label {
    display: block;
    color: $base-light;
    .plain & {
      font-size: $fx-sz-12;
      font-weight: $fw-medium;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    .wider & {
      display: inline-flex;
      letter-spacing: -0.01em;
      width: 120px;
      flex-shrink: 0;
    }
    .width & {
      width: 100% !important;
    }
  }
  &-value {
    color: $base-text;
    .wider & {
      @if ($rtl==false) {
        text-align: right;
      }
      @if ($rtl==true) {
        text-align: left;
      }
      font-weight: $fw-medium;
      width: 100%;
    }
  }
  &.wider {
    display: flex;
    padding: 0.5rem 0;
  }
  &.plain {
    .profile-ud-item:nth-child(n + 2) & {
      margin-top: 1.25rem;
    }
  }
}

.profile-ud-long {
  width: 100%;
  .profile-ud-item {
    width: 100%;
    padding-left: 0px;
    .profile-ud-value {
      text-align: left;
    }
  }
}
@include media-breakpoint-up(md) {
  .profile-ud {
    &.wider {
      padding: 0.75rem 0;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: -0.25rem -3.25rem;
      max-width: 960px;
    }
    &-item {
      width: 50%;
      padding: 0 3.25rem;
      &:nth-child(2) {
        .profile-ud.plain {
          margin-top: 0;
        }
      }
    }
  }
}

/// PROFILE STATS
//////////////////////////
.profile-stats {
  .amount {
    font-size: 1.125rem;
    font-weight: $fw-bold;
  }
}

/// PROFILE BALANCE
//////////////////////////
.profile-balance {
  &-group {
    display: flex;
    align-items: flex-end;
  }
  &-ck {
    position: relative;
    height: 70px;
    margin-top: 0.5rem;
  }
  &-sub {
    font-size: 0.875rem;
    color: $base-light;
    &title {
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }
    .icon {
      font-size: 0.75rem;
    }
  }
  &-plus {
    position: absolute;
    .icon {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    ~ * {
      @if ($rtl==false) {
        padding-left: 24px;
      }
      @if ($rtl==true) {
        padding-right: 24px;
      }
    }
  }
  &-amount {
    .number {
      font-size: 1.25rem;
      font-weight: $fw-bold;
      color: $base-color;
      line-height: 1.5rem;
      white-space: nowrap;
      small {
        font-weight: $fw-normal;
      }
    }
  }
}

.header-step {
  height: 5rem;
  font-size: 2rem;
  margin-left: 2rem;
}

.skills-map {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.skills-map canvas {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}

.table-orders th {
  font-size: 16px;
}

.table-orders tbody tr:hover {
  background-color: #f9f9f9;
}

.table-orders .badge {
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10rem;
}

.table-orders .badge-success,
.table-orders .badge-warning,
.table-orders .badge-danger {
  background-color: transparent;
  color: #fff;
}

.table-orders .badge-success {
  background-color: #28a745;
}

.table-orders .badge-warning {
  background-color: #ffc107;
}

.table-orders .badge-danger {
  background-color: #dc3545;
}

.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .ui.loader:after {
    background-color: var(--primary) transparent transparent;
  }
}
